# SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
image:
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/shoot-oidc-service
  tag: latest
  pullPolicy: IfNotPresent

serviceName: shoot-oidc-service
replicaCount: 1

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  # limits:
  #   cpu: "200m"
  #   memory: "256Mi"

controllers:
  lifecycle:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  ignoreOperationAnnotation: false

webhookConfig:
  servicePort: 443
  serverPort: 10251

ignoreResources: false

vpa:
  enabled: true
  resourcePolicy: {}
    # minAllowed:
    #   cpu: 100m
    #   memory: 64Mi
    # maxAllowed:
    #   cpu: 1
    #   memory: 512Mi
  updatePolicy:
    updateMode: "Auto"

gardener:
  version: ""

healthPort: 8081

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  port: 8080
  enableScraping: true
