# SPDX-FileCopyrightText: 2021 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
image:
  repository: eu.gcr.io/gardener-project/gardener/extensions/shoot-oidc-service
  tag: latest
  pullPolicy: IfNotPresent

serviceName: shoot-oidc-service
replicaCount: 1

resources:
  requests:
   cpu: "50m"
   memory: "64Mi"
  limits:
   cpu: "50m"
   memory: "128Mi"

controllers:
  lifecycle:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  ignoreOperationAnnotation: false

webhookConfig:
  servicePort: 443
  serverPort: 10251

ignoreResources: false
