version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: daily
  open-pull-requests-limit: 5
  commit-message:
    prefix: "chore(deps):"
  labels:
    - "kind/enhancement"
  allow:
  - dependency-name: "github.com/gardener/gardener"
- package-ecosystem: docker
  directories:
  - /
  - /.test-defs
  schedule:
    interval: daily
  commit-message:
    prefix: "chore(deps):"
  labels:
    - "kind/enhancement"
